@font-face {
  font-family: "YekanBakh";
  src: url("YekanBakh-Thin.otf") format("opentype"),
       url("YekanBakh-Light.otf") format("opentype"),
       url("YekanBakh-Regular.otf") format("opentype"),
       url("YekanBakh-Bold.otf") format("opentype"),
       url("YekanBakh-ExtraBold.otf") format("opentype"),
       url("YekanBakh-SemiBold.otf") format("opentype"),
       url("YekanBakh-Black.otf") format("opentype");
  font-weight: 100; /* Thin */
}

@font-face {
  font-family: "YekanBakh";
  src: url("YekanBakh-Light.otf") format("opentype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "YekanBakh";
  src: url("YekanBakh-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "YekanBakh";
  src: url("YekanBakh-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: "YekanBakh";
  src: url("YekanBakh-ExtraBold.otf") format("opentype");
  font-weight: 800; /* Extra Bold */
}

@font-face {
  font-family: "YekanBakh";
  src: url("YekanBakh-SemiBold.otf") format("opentype");
  font-weight: 600; /* Semi Bold */
}

@font-face {
  font-family: "YekanBakh";
  src: url("YekanBakh-Black.otf") format("opentype");
  font-weight: 900; /* Black */
}
